{% extends "base.html" %}
{% block content %}

<form method="post" action="" enctype="multipart/form-data" class="max-w-sm mx-auto mt-8 border border-gray-300 rounded-lg p-4  bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
    {% csrf_token %}
    <h2 class="text-xl font-bold text-gray-900 dark:text-white">
        Update Recipe
    </h2>
    <hr>
    <div class="mb-5 mt-3">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Recipe Name</label>
      <input type="name" name="recipe_name" value="{{recipes.recipe_name}}" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter the recipe name" required />
    </div>
    <div class="mb-5">
      <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Recipe Description</label>
      <textarea id="description" name="recipe_description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter the recipe description">{{recipes.recipe_description}}</textarea>
    </div>
    <div class="flex items-start mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar"></label>
      <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="image" name="recipe_image" type="file">
    </div>
    <div class="flex items-center mb-4">
      <input id="checkbox-2" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Are you sure to make changes</label>
  </div>
    <button type="submit" name="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-500 dark:focus:ring-green-500">Add Recipe</button>
  </form>



{% endblock content %}